:root{
  --primary-light:  #e2e1e1;
  --secondary-light: #fafafa;;
  --hover-color: rgb(60, 60, 60);
  --primary-dark: #333;
  }
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* HEADER */
body{
  background-color: var(--primary-light);
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 64px;
}
