:root{
  --primary-light:  #e2e1e1;
  --secondary-light: #fafafa;
  --primary-green: #4caf50;
  /* --primary-blue: rgb(9, 9, 247); */
  --hover-color: rgb(60, 60, 60);
  --primary-dark: #333;
  }
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* HEADER */
body{
  background-color: var(--primary-light);
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 64px;
  color: var(--primary-green);
}
/* MAIN */
main{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.inputs{
  background-color: rgb(193, 187, 187);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 235px;
  margin-top: 8rem;
}

button{
  padding: 10px;
  margin: 5px;
  width: 100px;
  cursor: pointer;
  border: none;            
  border-radius: 4px;  
  background-color: #4caf50; 
  color: white;     
}
button.colorMode,
button.randomColor,
button.eraser,
button.clear{
  width: 150px;
  background-color: var(--secondary-light);
  color: var(--primary-dark);
  font-size: 18px;
  font-weight: 500;
}
input:nth-child(1){
  margin-bottom: 20px;
  cursor: pointer;
}
.inputs .range{
margin: 40px;
cursor: pointer;
}
.sizeCubes button{
  width: 65px;
}
.grid{
  display: grid;
  width: 500px;
  height: 500px;
  background-color: var(--secondary-light);
  box-shadow: rgba(0, 0, 0, 0.30) 0px 8px 16px;
  margin-top: 4rem;
}